<% include templates/header.ejs %>

            <form action="/" method="post">
                <h3><em>Poster Vos Commentaires</em></h3>

                <label for="name">Name : </label> 
                <input type="text" id="name" class="form-control control" name="name"placeholder="Enter Ur Name" >
                <br>
                <label for="msg">Votre Commentaire : </label>
                <textarea id="msg" class="form-control control" name="msg" ></textarea>
                <br>

                <div class="text-right ">
                    <button type="submit " class="btn btn-outline-primary"><em> Commenter</em></button>
                </div>
            </form>
            <br>

            <h3> <em>Commentaires</em> :</h3>  
            <br><br>                 
                <% for (row of rows) { %>
                    <div class="row">
                  <div class="col-sm-1 col-2">
                    <img class="img-fluid img-thumbnail rounded-circle" src="https://www.flaticon.com/premium-icon/icons/svg/145/145863.svg" width="50px" height="50px">
                  </div>
                    
                            <div class="col-sm-11 col-10">
                        <div class="row">
                            <h6><b><%= row.name %> :</b></h6>
                            <h6><em style="margin-left:10em;"><%= prettydate.format(row.date) %></em></h6>
                        </div>
                        <p> <%= row.content %> </p>
                        </div>
                        
                       
                    </div>
                    <div >
            </div>
            <hr>
                <% } %>

<% include templates/footer.ejs %>