<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapfix.css">
    <title><%= locals.title %></title>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" style="background-color:black;">
            <div >
                <a class="navbar-brand" href="index.php?p=articles.index"><em><b class="blue">Blog</b></em></a>

            </div>
        </nav>
        <div class="container">